<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="menu">
		<div class="menu">
		<ul>
			<li onclick="location.href='./ip'">IP관리</li>
			<li onclick="location.href='./board'">글관리</li>
			<li onclick="location.href='./comment'">댓글관리</li>
			<li onclick="location.href='./user'">사용자관리</li>
			<li onclick="location.href='./login'">로그인</li>
			<li onclick="location.href='./login'">로그아웃</li>
		</ul>
		</div>
	</th:block>
</body>
</html>