<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{menu.html :: head}"></th:block>
        <style type="text/css">
        
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <th:block th:insert="~{menu.html :: menu}"></th:block>
        
        <!-- App badge section-->
        <section class="">
            <div class="container px-5">
               	<div>
               		<form action="/join" method="post">
               			<input type="text" name="id">
               			<input type="text" name="pw">
               			<input type="text" name="pw2">
               			<input type="text" name="name">
               			<button type="submit">join</button>
               		</form>
               		
               	</div>
           </div>
        </section>    	
        
        
        <!-- Footer-->
        <th:block th:insert="~{menu.html :: footer}"></th:block>
    </body>
</html>
