<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{menu.html :: head}"></th:block>
        <style type="text/css">
        .modal-body input{
        	width: 100%;
        }
        .modal-body textarea{
        	width: 100%;
        	height: 300px;
        	margin: 10px 0;
        }
        
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <th:block th:insert="~{menu.html :: menu}"></th:block>
        
        <!-- App badge section-->
        <section class="">
            <div class="container px-5">
               	<div>
               		<table class="table table-striped table-hover">
               			<tr class="row table-dark">
               				<th class="col-1">번호</th>
               				<th class="col-7">제목</th>
               				<th class="col-2">글쓴이</th>
               				<th class="col-2">쓴날짜</th>
               			</tr>
               			<tr class="row" th:each="row : ${list }" th:onclick="|location.href='@{/detail(bno=${row.bno})}'|">
               				<td class="col-1" th:text="${row.bno }"></td>
               				<td class="col-7" th:text="${row.btitle }"></td>
               				<td class="col-2" th:text="${row.member.mname }"></td>
               				<td class="col-2"> 
               					<th:block th:if="${#temporals.format(row.bdate,'yyyy-MM-dd') eq #dates.format(#calendars.createNow(),'yyyy-MM-dd')}">
               					[[${#temporals.format(row.bdate,'HH:mm')}]]
               					</th:block>
               					<th:block th:unless="${#temporals.format(row.bdate,'yyyy-MM-dd') eq #dates.format(#calendars.createNow(),'yyyy-MM-dd')}">
               					[[${#temporals.format(row.bdate,'MM-dd')}]]
               					</th:block>
               				</td>
               			</tr>
               		</table>
               		
               	</div>
               	
        <!-- Button trigger modal -->
	<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#apl">
	글쓰기</button>
               
            </div>
        </section>
        
    <div class="modal fade" id="apl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/write" method="post">
        	<input type="text" name="title">
        	<textarea name="content"></textarea>
        	<button type="submit" class="btn btn-primary">글쓰기</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        
        
        <!-- Footer-->
        <th:block th:insert="~{menu.html :: footer}"></th:block>
    </body>
</html>
