<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{menu.html :: head}"></th:block>
    </head>
    <body>
        <!-- Navigation-->
        <th:block th:insert="~{menu.html :: menu}"></th:block>
        
        <!-- App badge section-->
        <section class="container px-1">
            <div class="mt-4 p-2 shadow bg-white rounded">
            <form action="/update" method="post">
				<div class="py-2 fs-2 border-bottom border-primary">
					<input type="text" name="btitle" th:value="${update.btitle}">
				</div>
				<textarea name="bcontent">[[${update.bcontent}]]</textarea>
				<input type="hidden" name="bno" th:value="${update.bno }">
				<button type="submit">수정하기</button>
			</form>
		</div>
        </section>
        
        
        <!-- Footer-->
        <th:block th:insert="~{menu.html :: footer}"></th:block>
    </body>
</html>
